html {
    width: 100%;
    height: 100%;
}
body {
    width: 99%;
    height: 99%;
    white-space: nowrap;
    
}
.memeSider {
    width: 60%;
    height: 70%;
    margin: 0 auto;
}

.blockred, .blockgreen, .blockblue, .blockcoral {
    display: inline-block;
}

.blockred-description, .blockgreen-description, .blockblue-description, .blockcoral-description {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

.blockred {
    height: 100%;
    width: 100%;

}


.blockblue {
    height: 100%;
    width: 100%;

}

.blockgreen {
    height: 100%;
    width: 100%;
}

.blockcoral {
    height: 100%;
    width: 100%;
}


.slider {
    height: 100%;
    width: 100%;
}

.wraper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.wraper-description {
    width: calc(100% - 101px);
    overflow: hidden;
    margin: 0;
    display: inline-block;
}

.slider-description {
    width: 100%;
}

#but1, #but2, #but3, #but4 {
    display: none;
}
 
#but1:checked~.wraper>.slider {
    transform: translateX(0);
    transition: transform 0.5s linear;
}

#but2:checked~.wraper>.slider {
    transform: translateX(-100%);
    transition: transform 0.5s linear;
}

#but3:checked~.wraper>.slider {
    transform: translateX(-200%);
    transition: transform 0.5s linear;
}

#but4:checked~.wraper>.slider {
    transform: translateX(-300%);
    transition: transform 0.5s linear;
}

#but1:checked~.under-slider>.wraper-description>.slider-description {
    transform: translateX(0);
    transition: transform 0.5s linear;
}


#but2:checked~.under-slider>.wraper-description>.slider-description {
    transform: translateX(-100%);
    transition: transform 0.5s linear;
}

#but3:checked~.under-slider>.wraper-description>.slider-description {
    transform: translateX(-200%);
    transition: transform 0.5s linear;
}

#but4:checked~.under-slider>.wraper-description>.slider-description {
    transform: translateX(-300%);
    transition: transform 0.5s linear;
}

#but1:checked~.under-slider>.label-computer>.l1>.innerLabel {
    background-color: aqua;
}
#but2:checked~.under-slider>.label-computer>.l2>.innerLabel {
    background-color: aqua;
}
#but3:checked~.under-slider>.label-computer>.l3>.innerLabel {
    background-color: aqua;
}
#but4:checked~.under-slider>.label-computer>.l4>.innerLabel {
    background-color: aqua;
}

.under-slider {
    margin-top: 20px;
}

.label-computer {
    display: inline-block;
    background-color: transparent;
    margin-right: 0em;

}

.label-mobile {
    width: 50%;
    margin: 20px auto 0px;
    display: block;
    background-color: transparent;
}

.label {
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin: auto 5%;
    display: inline-block;

}

.innerLabel {
    margin-top: 4.5px;
    margin-left: 4.5px;
    width: 7px;
    height: 7px;
    border: 2px solid black;
    border-radius: 100px;
}


.label:hover .innerLabel {
    background-color: black ;
}

