html {
    width: 100%;
    height: 100%;
}
body {
    width: 99%;
    height: 99%;
    white-space: nowrap;
}
.memeSider {
    width: 60%;
    height: 70%;
    margin: 0 auto;
}

.blockred, .blockgreen, .blockblue, .blockcoral {
    display: inline-block;
}

.blockred-description, .blockgreen-description, .blockblue-description, .blockcoral-description {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.blockred {
    height: 100%;
    width: 100%;

}


.blockblue {
    height: 100%;
    width: 100%;

}

.blockgreen {
    background-image: url("");
    height: 100%;
    width: 100%;
}

.blockcoral {
    height: 100%;
    width: 100%;
}


.slider {
    height: 100%;
    width: 100%;
}

.wraper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.wraper-description {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.slider-description {
    width: 100%;
}

#but1:checked~.wraper>.slider {
    transform: translateX(0);
    transition: transform 0.5s linear;
}

#but2:checked~.wraper>.slider {
    transform: translateX(-100%);
    transition: transform 0.5s linear;
}

#but3:checked~.wraper>.slider {
    transform: translateX(-200%);
    transition: transform 0.5s linear;
}

#but4:checked~.wraper>.slider {
    transform: translateX(-300%);
    transition: transform 0.5s linear;
}

#but1:checked~.wraper-description>.slider-description {
    transform: translateX(0);
    transition: transform 0.5s linear;
}

#but2:checked~.wraper-description>.slider-description {
    transform: translateX(-100%);
    transition: transform 0.5s linear;
}

#but3:checked~.wraper-description>.slider-description {
    transform: translateX(-200%);
    transition: transform 0.5s linear;
}

#but4:checked~.wraper-description>.slider-description {
    transform: translateX(-300%);
    transition: transform 0.5s linear;
}

